@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

* {
 margin: 0; 
 padding: 0;
 box-sizing: border-box;
 list-style: none;
 list-style-type: none;



}

:root {
    --cp-green: #5EFF00;
    --cp-charcoal: #1A1A1A;
    --cp-black: #0D0D0D;
    --cp-grey: #A0A0A0;
    --cp-white: #FFFFFF;
    --cp-border: #262626;

}

html {
    font-size: 62git,5%;
}


h1 { 
    font-size: 1.5rem; 
}

h2 { 
    font-size: 1rem; 
}

h3 { 
    font-size: 1.25rem; 
}

h4 { 
    font-size: 1.1rem; 
}

h5 { 
    font-size: 1rem; 
}

p { 
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

/*
small {
    font-size: 0.85rem;
}
*/

body {
    background-color: var(--cp-black);
    color: var(--cp-white);
    font-family: 'JetBrains Mono', monospace;
    line-height: 1.5;    

}


.container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--cp-black);
    display: flex;
    flex-direction: column;
}

.header {
    align-items: center;
    width: 100%;
    padding: 0 20px 0 0;

}
button {
    background: none;
    border: none;
    font-family: inherit;
    cursor: pointer;
    color: inherit;
}

a {
    text-decoration: none;
}

.menu-container {
    display: flex;
    justify-content: center;
    width: 50px;
    border-radius: 4px;
}

.menu-container:hover {
    background-color: var(--cp-border);
}

.dropdown-menu {
    background-color: var(--cp-black);
}
.dropdown-menu:hover {
    background-color: var(--cp-border);
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: var(--cp-border);
    color: var(--cp-white);
}

.profile-avatar {
    width: 100%;
    border-radius: 50%;
}

.navbar-text {
    display: none;
}

.desktop-logo {
    display: none;
}

.mobile {
    display: flex;
}

#grid-header {
    grid-area: header;
}

#grid-navbar {
    grid-area: navbar;
}

#grid-main {
    grid-area: main;
}

#grid-aside {
    grid-area: aside;
}


    @media (min-width: 768px) {

    .container {
        flex-direction: row;
    } 
    .logo, .login, .register {
        width: 50%;
    }

    .nav-bar-list {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .nav-bar li {
        width: 100%;
    }

    .nav-bar a, .nav-bar button {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;

    }

    .avatar-navbar {
        width: 16px;
        height: 16px;
    }

    .navbar-text {
        display: inline;
    }

    .desktop-logo {
        display: flex;
    }

    .mobile {
        display: none;
    }

    .components {
        display: grid;
        grid-template-areas: 
            "header header header"
            "navbar main aside";
        grid-template-columns: 3fr 6fr 3fr;
        grid-template-rows: auto 1fr;
        min-height: 100vh;
        max-width: 100%;
        gap: 10px;
        
    }

    .header {
        display: flex;
        justify-content: space-between;
    }



    /* ==========================================================================
   MODAL STYLES
   ========================================================================== */

.cp-modal-box { background-color: var(--cp-charcoal); border: 1px solid var(--cp-border); }
.cp-input, .cp-input:focus { background-color: var(--cp-black); color: var(--cp-white); border: 1px solid var(--cp-border); resize: none; box-shadow: none; }
.cp-input:focus { border-color: var(--cp-grey); }
.cp-input::placeholder { color: var(--cp-white); opacity: 0.7; }

/* Button publication effect*/
.cp-btn-submit { background-color: var(--cp-green); color: var(--cp-black); border: none; transition: all 0.2s ease; }
.cp-btn-submit:hover { filter: brightness(1.15); box-shadow: 0 0 15px rgba(94, 255, 0, 0.6); }

/* Image selector*/
.cp-file-wrapper { position: relative; width: 100px; height: 30px; }
.cp-file-input, .cp-file-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.cp-file-input { opacity: 0; cursor: pointer; z-index: 2; }
.cp-file-overlay { background-color: #222222; border: 1px solid var(--cp-border); z-index: 1; }
.cp-file-wrapper:hover .cp-file-overlay { background-color: var(--cp-border); }

/* View and Button delete (X) */
.cp-preview-item { position: relative; display: inline-flex; vertical-align: top; }
.cp-btn-delete-img { position: absolute; top: -5px; right: -5px; background-color: var(--cp-charcoal); border: 1px solid var(--cp-border); border-radius: 50%; width: 22px; height: 22px; font-size: 0.75rem; z-index: 10; transition: all 0.2s; }
.cp-btn-delete-img:hover { background-color: var(--cp-green); color: var(--cp-black); }


}



